{% extends 'loginform/base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3" style="padding-top: 10px;">
    <h2 class="text-center">Change Password</h2>
    <form method="POST" action="{% url 'change_password' %}">

        {% csrf_token %} <!-- Cross Site Request Forgery token -->

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissable" role="alert">        
                <div>
                    <button class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p>Errors found on Change Password Form...</p>
                </div>
            </div>
            
        {% endif %}

        {{ form.as_p }}

        <button type="submit" value="Save" class="btn btn-secondary"><i class="fa-solid fa-floppy-disk"></i> Save</button>
    </form>
</div>

{% endblock %}